<nav class="navbar">
  <div class="logo">
    <span class="icon">🍷</span>
    <span class="brand">Κάβα <strong>520</strong></span>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active">Αρχική</a></li>
    <li class="dropdown">
      <a href="/products">Προϊόντα </a>
      <ul class="dropdown-menu">
        <li class="submenu">
          <a href="#">Κρασιά</a>
          <ul class="dropdown-submenu">
            <li><a routerLink="/products/red-wine">Κόκκινα</a></li>
            <li><a routerLink="/products/white-wine">Λευκά</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#">Αναψυκτικά</a>
          <ul class="dropdown-submenu">
            <li><a routerLink="/products/mpyral">Μπυράλ</a></li>
            <li><a routerLink="/products/gκazoza">Γκαζόζα</a></li>
            <li><a routerLink="/products/lemonadα">Λεμονάδα</a></li>
            <li><a routerLink="/products/portokalada">Πορτοκαλάδα</a></li>
            <li><a routerLink="/products/soda">Σόδα</a></li>
            <li><a routerLink="/products/ice-tea-lemoni">Ice Tea Λεμόνι</a></li>
            <li><a routerLink="/products/ice-tea-rodakino">Ice Tea Ροδάκινο</a></li>
            <li><a routerLink="/products/green-tea-lemoni">Πράσινο Τσάι Λεμόνι</a></li>
            <li><a routerLink="/products/mastixa-soda">Mαστίχα Σόδα</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#">Χυμοί</a>
          <ul class="dropdown-submenu">
            <li><a routerLink="/products/orange-juice">Πορτοκάλι</a></li>
            <li><a routerLink="/products/3-fruits-juice">3 Φρούτα</a></li>
            <li><a routerLink="/products/10-fruits-juice">10 Φρούτα</a></li>
          </ul>
      </ul>
    </li>
    <li><a routerLink="/about">Σχετικά με εμάς</a></li>
    <li><a routerLink="/contact">Επικοινωνία</a></li>
  </ul>
</nav>