<nav>
  <div class="nav-container">
    <div class="logo">
      <a href="/home"><i class="fa-solid fa-wine-glass"></i> Κάβα 520</a>
    </div>

    <button class="menu-toggle" (click)="toggleMobileMenu()">
      ☰
    </button>

    <ul [class.mobile-open]="isMobileMenuOpen">
      <li><a href="/home">Αρχική</a></li>

      <li class="dropdown">
        <a href="javascript:void(0)" (click)="toggleMainDropdown()">Προϊόντα</a>

        <ul class="dropdown-menu" *ngIf="isMainDropdownOpen">
          <li class="sub-dropdown">
            <a href="javascript:void(0)" (click)="toggleSubmenu('krasia')">Κρασιά</a>
            <ul class="sub-menu" *ngIf="openSubmenu === 'krasia'">
              <li><a href="/products/wines">Όλα τα Κρασιά</a></li>
              <li><a href="/products/terra-vinea">Terra vinea</a></li>
              <li><a href="/products/notos">Νότος</a></li>
              <li><a href="/products/thivaiki-gi">Θηβαϊκη Γη</a></li>
            </ul>
          </li>

          <li class="sub-dropdown">
            <a href="javascript:void(0)" (click)="toggleSubmenu('anapsyktika')">Αναψυκτικά</a>
            <ul class="sub-menu" *ngIf="openSubmenu === 'anapsyktika'">
              <li><a href="/products/refreshments">Όλα τα Αναψυκτικά</a></li>
              <li><a href="/products/mpyral">Μπυράλ</a></li>
              <li><a href="/products/lemonada">Λεμονάδα</a></li>
              <li><a href="/products/portokalada">Πορτοκαλάδα</a></li>
              <li><a href="/products/gkazoza">Γκαζόζα</a></li>
              <li><a href="/products/soda">Σόδα</a></li>
              <li><a href="/products/mastixa-soda">Μαστίχα Σόδα</a></li>
              <li><a href="/products/ice-tea-lemoni">Ice Tea Λεμόνι</a></li>
              <li><a href="/products/ice-tea-rodakino">Ice Tea Ροδάκινο</a></li>
              <li><a href="/products/green-tea-lemoni">Πράσινο Τσάι Λεμόνι</a></li>
            </ul>
          </li>

          <li class="sub-dropdown">
            <a href="javascript:void(0)" (click)="toggleSubmenu('pota')">Τσίπουρο - Ούζο</a>
            <ul class="sub-menu" *ngIf="openSubmenu === 'pota'">
              <li><a href="/products/tsipouro">Όλα τα Ποτά</a></li>
              <li><a href="/products/whiskey">Αποστολάκη με</a></li>
              <li><a href="/products/vodka">Αποστολάκη χωρίς</a></li>
              <li><a href="/products/liqueur">Ούζο Αποστολάκη</a></li>
            </ul>
          </li>
          <li class="sub-dropdown">
            <a href="javascript:void(0)" (click)="toggleSubmenu('juices')">Χυμοί</a>
            <ul class="sub-menu" *ngIf="openSubmenu === 'juices'">
              <li><a href="/products/juices">Όλοι οι Χυμοί</a></li>
              <li><a href="/products/orange">Πορτοκάλι</a></li>
              <li><a href="/products/3-fruits">3 Φρούτα</a></li>
              <li><a href="/products/10-fruits">10 Φρούτα</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li><a href="/about">Σχετικά με εμάς</a></li>
      <li><a href="/contact">Επικοινωνία</a></li>
    </ul>
  </div>
</nav>